/* 영문 기본폰트 */
body {
  font: normal 15px "RalewayL";
  color: #444;
}
@font-face {
  font-family: "RalewayL";
  src: url(../font/Raleway-Light.ttf);
}
@font-face {
  font-family: "RalewayT";
  src: url(../font/Raleway-Thin.ttf);
}
@font-face {
  font-family: "SpoqaB";
  src: url(../font/SpoqaHanSansBold.ttf);
}
@font-face {
  font-family: "SpoqaL";
  src: url(../font/SpoqaHanSansLight.ttf), url(../font/NanumSquare_acR.ttf),
    url(../font/SpoqaHanSansLight.woff);
}
@font-face {
  font-family: "SpoqaR";
  src: url(../font/SpoqaHanSansRegular.ttf), url(../font/SanumSquare_acR.ttf),
    url(../font/SpoqaHanSansRegular.woff);
}

* {
  margin: 0;
  padding: 0;
}

#myNavbar ul li a {
  font-size: 11px;
}
#myPage {
  padding: 40px;
  padding-top: 85px;
}
#circle {
  width: 300px;
  height: 300px;
  background-color: rgb(168, 194, 139);
  border-radius: 50%;
}
#services h5 {
  font-size: 12px;
}
#services > p {
  font-size: 24px;
}
.navbar-brand {
  color: rgb(129, 196, 109);
  letter-spacing: 2px;
}
.navbar-brand :nth-child(1) {
  color: #444;
  font-size: 20px;
  letter-spacing: 3px;
}
.navbar-brand :nth-child(2) {
  font-size: 7px;
}
.row h4 {
  color: rgb(126, 129, 124);
  font-family: "SpoqaR";
}
.sort {
  display: flex;
  justify-content: space-between;
}
.col-sm-2 {
  width: 100%;
}
.col-sm-2 p {
  color: #555;
  font-size: 4px;
  font-family: "SpoqaR";
}

#portfolio {
  background: url(../images/2323334.jpg);
  background-size: cover;
  padding-top: 30px;
  width: 100%;
}
#portfolio h2 {
  width: 80px;
  margin: 0 auto;
  font-size: 17px;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  font-family: "SpoqaR";
}
#portfolio h3 {
  text-align: center;
  font-size: 35px;
  margin-top: 30px;
  margin-bottom: 30px;
  letter-spacing: 2px;
  font-weight: 100;
}
#portfolio .portfolio_main {
  /* height: 50vw; */
  padding: 2vw;
}
.portfolio_main .port1 {
}
.portfolio_main .port1 .img {
  background: url(../images/portfolio1.png) no-repeat 0% 50%;
  background-size: cover;
  height: 20vw;
}
.portfolio_main .port1 .text {
  padding-top: 100px;
  margin-top: 20px;
  /* margin-left: 50px; */
}
.portfolio_main .port1 .text h4 {
  font-size: 15px;
  margin-bottom: 10px;
}
.portfolio_main .port1 .text h5 {
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: 100;
}
.portfolio_main .port1 .text p {
  font-size: 15px;
  line-height: 1.7;
}

@media screen and (max-width: 992px) {
  .portfolio_main .port1 .img {
    background-position: 50% 50%;
    background-size: 70%;
  }
}
